.engineBlock {
  position: relative;
}

.engineResize {
  --resize-width: 30px;
  
  width: var(--resize-width);
  height: var(--resize-width);

  background: white;
  opacity: 0.7;
  border-radius: 8px;
  
  position: absolute;
  background-size: cover;
  filter: brightness(75%);
  transition: 0.4s opacity, 0.4s transform;
}

.engineResize:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.engineZoomIn {
  background-image: url("../../../../../public/icons/fullscreen.png");
  display: block;
  height: 28px;
  width: 28px;

  top: 20px;
  margin-left: calc(94% - var(--resize-width) / 2);
}

.engineZoomOut {
  background-image: url("../../../../../public/icons/panescreen.png");
  display: block;

  top: 44px;
  left: 94vw;
}

.engineMobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
