.novelModMenu {
  position: relative;
  padding-right: 50px;
}

.novelModMenu:hover .novelModMenuMore {
  display: flex;
  flex-direction: column;
}

.novelModMenu .novelModMenuMore {
  display: none;
  position: absolute;
  left: 0;
  border-radius: 6px;
  background: var(--background-contrast2);
  
  padding: 10px;
}

.novelModMenuMore textarea {
  width: 200px;
  margin-bottom: 10px;
}

.novelModMenuMore button {
  background-color: black;
}

.novelModMenuMore button:hover {
  color: red;
}